body,html{
    height:100%;
    margin:0;
}
h1,p{
    margin:0;
}

div#__next {
    background-color:#f4efd3;
    min-height:100%;

    > * {
        padding:0.5rem;
        background-color:white;
    }

    display:grid;
    grid-template:
    "header" auto
    "main" auto
    "aside" auto
    "....." 1fr
    "footer" auto
    / 100%;
    grid-gap:0.5rem;
    @media screen and (min-width:700px){
        grid-template:
        "header header header header" auto
        "..     main   aside  .." auto
        "..     .....  ....   .." 1fr
        "footer footer footer footer" auto
        /1fr 400px 300px 1fr;
    }

    > header {
        grid-area:header;
        display:grid;
        grid-template-columns: subgrid;
        grid-template-rows: auto;
        grid-template-areas: "... head nav ...";
        > h1 {
            grid-area:head
        }
        > nav {
            grid-area:nav
        }
    }
    > main {
        grid-area:main;
        > article {
            display:grid;
            grid-template: 
            "title title" auto
            "image desc" auto
            "share share" auto
            / 1fr 2fr;
            @media screen and (min-width:700px){
                grid-template: 
                "image title" auto
                "image desc" auto
                "image share" auto
                /1fr 2fr;
            }
            > h1 {
                grid-area: title;
            }
            > img {
                width:100%;
                grid-area: image;
            }
            > p {
                grid-area:desc;
            }
            > div {
                grid-area:share
            }
        }
    }
    > aside {
        grid-area:aside;
        align-self: stretch;
    }
    > footer {
        grid-area:footer;
        display:grid;
        grid-template:
        "... foot foot ..." auto
        / subgrid;
        > p {
            grid-area:foot
        }
    }
}