@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --accent:#ef6461;
  --darkbg:#134944;
  --highlight:#e4b363;
  --important:#f5f5f5;
  --color:#e8e9eb;
  --light:#e0dfd5;
  --background:#313638;
  --block:#212628;
  --bg: linear-gradient(45deg, var(--background) 0%,var(--accent) 100%);
  --bigScreenWidth: 800px;
}

html{
  height:100%;
}

body{
  font-family: 'Open Sans',sans-serif;
  background-color:var(--background);
  color:var(--color);
  height:100%;
  > div:first-child{
    height:100%;
  }
}

a {
  color:var(--important);
  font-weight: bolder;
  text-decoration: none;
}

h1 {
  color:var(--important);
  font-weight: bolder;
  font-size: 1.3rem;
  margin:1rem 0;
  &:first-child{
    margin-top:0;
  }
}

pre,textarea{
  margin:0.5rem 0;
  padding:0.5rem;
  background-color:var(--background);
  white-space: pre-wrap;
  &:last-child{
    margin-bottom:0;
  }
}
textarea{
  color:var(--color);
  border:none;
  outline: none;
}

p {
  margin-bottom:0.5rem;
  &:last-child{
    margin-bottom:0;
  }
}
:global {
  p.error{
    padding:0.5rem;
    background-color: var(--accent);
    font-weight: bold;
  }
}